@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}







@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.woff2') format('woff2'),
        url('Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}





/* FONTS */

/* ROOT */
:root {
 /* colors */
 --color-primary: #333333;
 --color-secondary: #777777;
 --color-third: #000000;
 /* backgrounds */
 --bg-primary: #fff;
 --bg-secondary: #EA625C;
 /* fonts */
 --font-primary: "Roboto", sans-serif;
 --font-weight: 400;
 --font-size: 15px;
}

* {
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
}

html {
 height: 100%;
 scroll-behavior: inherit;
}

body {
 display: flex;
 flex-direction: column;
 height: 100%;
 font-family: var(--font-primary);
 font-weight: var(--font-weight);
}

main {
 flex-grow: 1;
}

.container {
 width: 100%;
 max-width: 1030px;
 margin: 0 auto;
 padding: 0 15px;
}

img {
 max-width: 100%;
 height: auto;
}

ul,
ol,
li {
 list-style: none;
}

a {
 text-decoration: none;
 background-color: transparent;
}

.site-header{
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: var(--bg-primary);
}
.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header__links-wrapper{
    display: flex;
    align-items: center;
    gap: 40px;
}
.site-header__nav-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.site-header__nav-link{
    line-height: 23px;
    color: var(--color-primary);
}
.site-header__support-service{
    padding-bottom: 6px;
    line-height: 23px;
    color: var(--color-secondary);
    border-bottom: 1px solid var(--color-primary);
}
.site-header__hidden-menu-btn{
    display: none;
    border: none;
    background-color: transparent;
}
.site-header__hidden-nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
    background-color: #fff; 
    transform: translateY(-1000px);
}
.site-header__hidden-nav-list{
    padding-top: 100px;     
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
}
.site-header__hidden-nav-link{
    font-size: 20px;
    color: var(--color-primary);
}
.site-header__hidden-show{
    transform: translateY(0);
    transition: all 0.3s;
}
.site-header__hide{
    transform: translateY(-1000px);
}
.site-header__menu-remove-btn{
    position: fixed;
    top: 40px;
    right: 40px;
    border: none;
    background-color: transparent;
}


@media only screen and (max-width:900px){

}
@media only screen and (max-width: 650px){
    .site-header__hidden-menu-btn{
        display: block;
    }
    .site-header__nav-list{
        display: none;
    }
    .site-header__links-wrapper{
        gap: 20px;
    }
}
.hero{
    padding-top: 91px;
    padding-bottom: 183px;
    background-image: url("../images/watches@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment:unset;
    background-position-x: calc(1000px);
}
.hero__wrapper{
    width: 100%;
    max-width: 490px;
}
.hero__wrapper-title{
    margin: 0;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}
.hero__wrapper-desc{
    margin-bottom: 30px;
    border-left: 3px solid #888888;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-secondary);
}
.hero__wrapper-btn{
    display: inline-block;
    padding: 12px 39px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: var(--bg-secondary); 
}
.description-hidden__title{
    display: none;
}
.description{
    padding: 70px 0;
}
.description-list{
    display: flex;
    gap: 80px;
}
.description-list__item{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 280px;
}
.description-item__title{
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    line-height: 27px;
}
.description-item__desc{
    line-height: 24px;
    color: var(--color-primary);
}
.description-item__desc:last-child::after{
    margin-top: 20px;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #DDDDDD;
    box-shadow: 18px 0 0 0 #DDDDDD , 36px 0 0 0 #DDDDDD;
}
.description-item__link{    
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--bg-secondary);
}
.description-item__link::before{
    margin-right: 10px;
    display: inline-block;
    content: "";
    width: 40px;
    height: 3px;
    background-color: var(--bg-secondary);
}
.service{
    padding: 70px 0;
}
.service__wrapper{
    display: flex;
    align-items: center;
    gap: 110px;
}
.service__wrapper-box{
    width: 100%;
    max-width: 490px;
}
.service__wrapper-title{
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: var(--color-third);
}
.service__wrapper-desc{
    border-left: 3px solid #888888;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-secondary);
}
.service__wrapper-link{
    display: inline-block;
    margin-top: 30px;
    padding: 12px 90px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--bg-primary);
    background-color: var(--bg-secondary);
}